#titles1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'sans-serif', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: rgb(218, 168, 60);
    margin: 20px;
    padding: 10px;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info1{
    width: 70%;
    height: 900px;
    margin: 20px;
}

.info2{
    width: 70%;
    height: 600px;
}

.vid1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15%;
    width: 70%;
    height: 700px;
    
}

.port{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
